/backend/.venv
*__pycache__
India Shape
*.env
todo.*
.agent

# Data
**/data/raw/
backend/app/cache/
backend/app/temp/
*.pyc

*/__pycache__/*
**/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*

osrm-data
backend/app/routers/__pycache__

